.font {
    font-family: Ubuntu;
}

.bg_text_u {
    font-weight: 400;
    font-size: 64px;
    line-height: 134px;
}

.h1_u {
    font-weight: 400;
    font-size: 64px;
    line-height: 72px;
}

.h2_u {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

.button_u {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

.article_u {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
}

.para_u {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
}

.label_u_m {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.label_u_l {
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}

.brand_1 {
    color: var(--color_brand_1);
}

.gray {
    color: var(--color_grey)
}

.white {
    color: var(--color_white);
}