.root {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.socialsWrap {
    display: flex;
    gap: 4px;
}

.telegramIcon {
    & path {
        fill: black !important;
    }
}

.githubIcon {
    & path {
        fill: black;
    }
}

.circle {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color_brand_1);
    border-radius: 50%;
}